.vscode/**
.github/**
.husky/**
src/**
scripts/**
fixtures/**
out/test/**
media/timeline.png
media/flamegraph.png
media/gaps.png
.vscode-test.mjs
.vscode-test/**
node_modules/**
tsconfig.json
eslint.config.mjs
.prettierrc.json
.prettierignore
.gitignore
.editorconfig
media/icon.svg
**/*.map
**/*.ts
